@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  margin: 0

h1, h2, h3, h4, h5, h6
  margin: 0

.img-responsive
  display: block
  max-width: 100%
  height: auto

.clearfix:after
  content: ''
  display: table
  clear: both

ul
  padding-left: 0

.container
  max-width: 1165px
  margin: 0 auto

.main-header
  height: 160px

.header-logo
  float: left
  width: 200px
  a
    display: block
    margin-top: 55px

.header_right
  width: 892px
  float: right
  padding-top: 10px

.header-address, .header-phones, .header-order-btn
  display: inline-block
  vertical-align: middle

.header-address
  width: 220px
  font-size: 13px
  color: #4b4b4b
  i
    display: inline-block
    position: relative
    top: 2px
    background: url("../img/loc_icon.png") left top no-repeat
    width: 9px
    height: 12px
    margin-right: 10px

.header-phones
  width: 495px

  i
    display: inline-block
    position: relative
    top: 2px
    background: url("../img/tel icon.png")
    width: 12px
    height: 12px
    margin-right: 10px

.header-phones__list
  display: inline-block
  li
    display: inline-block
    padding-right: 15px
    border-right: 1px solid #dadada
    margin-right: 15px
    &:last-child
      margin-right: 0
      padding-right: 0
      border-right: none
    a
      font-family: "GothaProMed"
      color: #000
      text-decoration: none
      font-size: 13px
      font-weight: bold

.header-order-btn
  a
    display: inline-block
    background: url("../img/mail_icon.png") 35px 11px no-repeat
    background-color: #ed1c24
    padding: 0 40px
    line-height: 42px
    border-radius: 18px
    padding-left: 75px
    font-family: "GothaProMed"
    color: #fff
    text-decoration: none
    font-size: 14px
    transition: all .1s
    &:hover
      background-color: #d81219

.header-menu
  text-align: right
  margin-top: 25px;
  li
    display: inline-block
    margin-right: 50px
    &:last-child
      margin-right: 0
    a
      font-family: "GothaProBol"
      font-size: 16px
      color: #000
      text-decoration: none
      transition: all .1s
      &:hover
        color: #4b4b4b

.service-banner
  background: url("../img/banner.jpg") center bottom no-repeat
  height: 420px
  padding-top: 180px
  h1
    font-family: "GothaProBol"
    font-size: 48px
    color: #fff
    line-height: 1.2

.services
  margin-top: 50px

.services__item
  width: 488px
  padding: 50px 40px
  margin-right: 24px
  float: left
  border: 1px solid #ffffff
  height: 100px
  transition: all .2s
  &:last-child
    margin-right: 0
  &:hover
    background: #ffffff
    h3
      color: #000
    a
      color: #818181
      &:hover
        color: #ed1c24
  h3
    color: #fff
    font-family: "GothaProReg"
    font-size: 24px
    font-weight: normal
  ul
    li
      display: inline-block
      &:after
        content: '/'
        display: inline-block
        color: #b4b4b4
        padding: 0 10px
        padding-right: 5px
      &:last-child
        &:after
          content: ''
      a
        color: #b4b4b4
        font-size: 15px





@import "media" // Всегда в конце
